@use 'config' as c
@use 'main' as m

.field 
	width: 260px

	&-first 
		width: 260px
		margin-left: 28px
	

	&-last 
		width: 220px

.issue-box 
	align-content: flex-start
	max-width: 825px
	margin-right: 5px

	&-input-notice
		width: 285px
	
	.column-1
		padding-left: 28px

	.column-2
		padding-left: 45px

	.password
		display: inline-block
		width: 320px
		margin: 0 0 0 15px

	.horizontal
		margin: 0 0 20px 0
		display: block

	.prediction
		display: inline-block
		margin: 0 0 0 15px
		padding: 2px 0 3px 4px
		height: 25px

		&-date
			width: 135px

		&-time
			width: 80px

.options-box 
	width: 250px 
	flex-direction: column
	padding: 20px 0 0 20px 

	.field
		margin: 0 0 22px 0

.input-box 
	@extend .input-new
	margin-left: 5px
	margin-top: 14px
	resize: vertical
	min-height: 70px
	max-height: 150px

	&-issue 
		width: 420px
	

	&-notice 
		width: 282px

.valuation-box
	margin-right: 5px
	align-content: flex-start

	.solutions-list
		width: 610px
		padding-left: 28px

	.solution
		display: inline-block
		width: 290px
		vertical-align: middle

	.input-cost
		width: 102px
		display: inline-block
		vertical-align: middle
		margin-left: 17px

	.remove 
		font-size: 22px
		color: #546776
		padding-left: 20px
		// margin-top: 10px
		vertical-align: middle

		&-deny
			@extend .remove

	.row
		position: relative
		width: 460px
		margin-top: 8px


	.add-solution-btn
		font-size: 21px
		color: #308B9E
		padding-left: 20px
		margin-top: 11px
		vertical-align: middle

	.buttons 
		padding-left: 418px
		padding-top: 2px

	.char-count
		top: 5px
		right: 178px

.price-area 
	width: 245px

	.price-total 
		font-weight: bold
		padding: 14px 0 0 8px
		display: block
		font-size: 14px
	


.advance-area 
	display: block

	.advance-input 
		width: 125px
		vertical-align: middle
		display: inline-block

	.erase
		font-size: 22px
		color: #546776
		padding-left: 20px
		margin-top: 10px
		vertical-align: middle

.buttons-box
	display: flex
	justify-content: flex-end
	// margin-top: 30px
	margin-top: 20px
	padding: 0 15px 0 0


	.select
		width: 184px
		height: 26px
		padding-top: 2px
		margin: 0 45px 0 15px

	.save
		margin-left: 10px
	
	.cancel
		margin: 0 10px 0 15px

.tooltip
	color: #5e7081
	margin-left: 10px
	font-size: 17px
	line-height: 0


.char-count
	position: absolute
	top: 9px
	right: 24px
	color: #919191

.prompt-box
	position: absolute
	width: 412px
	margin: 5px 16px 0 0
	background-color: c.$inputBgColor
	border: 1px solid #546776
	border-radius: 4px
	z-index: 1
	max-height: 135px
	overflow: auto

	.element
		user-select: none
		cursor: pointer
		padding: 5px

		&:hover,
		&:focus
			background-color: #005279
			outline: 0

	.name
		display: inline-block
		width: 307px

	.price
		display: inline-block

.empty-result
	display: block
	padding: 4px 6px
	font-style: italic
	font-size: 12px